# CREDENCIAIS CREDTU
CREDTU_EMAIL=seu_email
CREDTU_PASSWORD=sua_senha

# Gere um token forte e use o mesmo no n8n
N8N_API_TOKEN=troque_por_um_token_forte

# API
HOST=0.0.0.0
PORT=8080

# SELENIUM / CHROME
HEADLESS=true
CHROME_BINARY=
CHROMEDRIVER_PATH=

# TEMPOS
SELENIUM_TIMEOUT=30
RECYCLE_SLEEP_SECONDS=5
